* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: sans-serif;
}
a {
    text-decoration: none;
    color: black;
}
#header-container {
    height: 50px;
    /* border: 1px solid black; */
}
.menu-left {
    padding: 10px 10px;
    float: left;
}
.menu-left li {
    display: inline-block;
    padding-right: 10px;
}
.menu-right {
    padding: 10px 10px;
    float: right;
}
.menu-right li {
    display: inline-block;
    position: relative;
    padding-right: 10px;
}
.dropdown {
    display: none;
    list-style-type: none;
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: rgba(0, 0, 0, 0.04) 0px 0px 4px 0px, rgba(0, 0, 0, 0.08) 0px 8px 16px 0px;
    background-color: white;
    padding: 20px;
    text-align: left;
}
.button {
  background-color: blue;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
